[session]
key =
user =
password =

# 日志配置
[log]
# log日志文件夹路径，如果没有，则默认放置在项目本目录/log/下
log_path =
# log日志文件名
log_file_name = app.log
# 运行窗口log提示级别
console_log_level = DEBUG
# 文件记录log提示级别
file_log_level = DEBUG
# log文件切换时间
log_switch_time = midnight
# log文件备份个数
log_backup_count = 700
# log文件编码模式
log_encoding = utf-8

# 数据库连接配置
[postgresql]
enable = False
host =
port =
user =
password =
database =

# 消息推送
[MessagePush]
# 是否开启消息推送
is_enable = False
# 企业微信机器人
WeCom = False

# 钉钉消息推送
[DingDing]
enable = False
# 钉钉机器人webhook地址
webhook =
# 安全设置-关键词（第一个关键词，多个关键词从第二个开始，放在消息中推送）
# 第一个关键词设定为机器人昵称
keyword =
# 安全设置-加签
secret =